<% if @friends.present? %>
  <div class="row">
    <div class="col-9">
      <div class="row">
        <% @friends.each do |friend| %>
          <div class="col-sm-4">
            <div class="card mt-4">
              <%= image_tag 'undraw_profile_pic_ic5t.svg', class: "card-img-top p-4" %>
              <div class="card-body">
                <h5 class="card-title"><%= friend.full_name %></h5>
                <p class="card-text">Email: <%= friend.email %></p>
                <%= link_to 'View profile', user_path(friend), class: 'btn btn-success btn-sm' %>
                <%= link_to 'Stop following', friendship_path(friend),
                            method: :delete,
                            class: 'btn btn-warning btn-sm' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
